<!DOCTYPE html>

@import play.mvc.Http.Context.Implicit._

<html>
<head>
    <title>Reactive Stock News Dashboard</title>
    <link rel='stylesheet' href='assets/lib/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
    <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
    <script type='text/javascript' src='assets/lib/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='assets/lib/flot/jquery.flot.js'></script>
    <script type='text/javascript' src='assets/javascripts/index.js'></script>
    <script type="text/javascript">
        window.onload = function(){
            body = document.getElementsByTagName('body')[0];
            body.setAttribute('data-ws-url','ws://' + location.host + location.pathname + 'ws')
        };
    </script>
</head>
<body data-ws-url="">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#">Reactive Stocks</a>
                <form id="addsymbolform" class="navbar-form pull-right">
                    <input id="addsymboltext" type="text" class="span2" placeholder="SYMBOL">
                    <button type="submit" class="btn">Add Stock</button>
                </form>
            </div>
        </div>
    </div>

    <div id="stocks" class="container">

    </div>
</body>
</html>
